.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;

  .search-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: white;
    width: 72px;
    height: 38px;
    margin-left: 5px;
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}

.app-header {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  color: #5a5a5a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-icon {
  width: 32px;
  margin-left: 15px;
  transform: rotate(45deg);
}

.year-input {
  width: 120px;
  height: 39px;
  font-size: 18px;
  border-radius: 0px !important;
  border: none;
  color: #555;
  border: 1px solid #ccc;
  margin-left: 5px;
}

.year-input:focus {
  outline: none;
}

.select-type {
  width: 120px;
  height: 39px;
  font-size: 18px;
  border-radius: 0px !important;
  border: none;
  color: #555;
  border: 1px solid #ccc;
  margin-left: 5px;
}

.ant-select-selector {
  border: none !important;
}
